<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <link name="base_link"/>

  <joint name="base_to_arm_base" type="fixed">
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="arm_base_link"/>
  </joint>

  <link name="arm_base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ken_description/meshes/arm_base.stl" scale="1 1 1"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ken_description/meshes/arm_base.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0.1" ixz="0.1" iyy="0.1" iyz="0.1" izz="0.1"/>
    </inertial>
  </link>


</robot>