<?xml version="1.0"?>

<robot name="ken" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ken_description)/urdf/ken.xacro"/>

  <link name="world"/>                                

  <joint name="base_link_to_world_joint" type="fixed">
    <parent link="world"/>                            
    <child link="base_link"/>                         
  </joint>                                            


</robot>